python_version < 3.11

# TensorFlow + CoreMLTools compatibility sweet spot
tensorflow==2.12.1

# Required to load `.keras` (Keras 3 format)
keras==3.0.5

# CoreML converter
coremltools==7.2

# Numpy compatible with TF 2.12 + CoreMLTools
numpy==1.23.5

# Prevent protobuf descriptor crashes
protobuf==3.20.3

typing-extensions>=4.5.0
